<h1 style="text-align:center; color:#A52A2A;">Produnto Punto de algunas variables</h1> 
<h5 style="text-align:center;">SuperBloque</h5>
<h6 style="text-align:center; color:#00008B;">Rosbin López</h6>

<img src="logoSB.png" />

<p style="text-align:justify;">Este notebook contiene el análisis de los datos en relación de algunas variables extraidas en el proceso  de las ventas netas y facturadas correspondiente a un asesor de la empresa SuperBloque. Esta empresa se encuentra interesada en responder una pregunta de negocio particular.</p>

<p style="text-align:justify; color:#8B008B;">¿Cuales de las variables a considerar estan vinculádas con el comportamiento de las ventas netas y facturadas de un asesor?</p>

<p style="text-align:justify; color:#8B008B;">.</p>

<p style="text-align:justify; color:#8B008B;"></p>

<a href="https://drive.google.com/drive/folders/1zSTEJnmrjJhQGT5FMTvtBydhZAfH_m9h?usp=drive_link" style="color:# 0000CD;"> Drive con los Datos para el proceso de análisis</a>

<h2 style="color:#1E90FF;">1. Carga y estandarización de los set de datos</h2>

<p style="text-align:justify; color:#8B008B;">¿Qué se hace en esta etapa?</p>

<ol>
<li><p style="text-align:justify; color:#8B008B;">Importar las librerías necesarias</p></li>
<li><p style="text-align:justify; color:#8B008B;">Importar el o los set de datos</p></li>
<li><p style="text-align:justify; color:#8B008B;">Revisar los encabezados de los DataFrames</p></li>
<li><p style="text-align:justify; color:#8B008B;">Si solo si tenemos más de 1 set de datos - Unir los set de datos en un único DataFrame</p></li>
</ol>

<h3 style="color:#2F4F4F;">1.1 Importar las librerías</h3>

In [1]:
import pandas as pd       #Se usa para el manejo de los DataFrame
import numpy as np        #Se usa para el manejo de las estructuras de datos (Array, Listas, Tuplas, Diccionarios)
import matplotlib.pyplot as plt #Se usa para crear las graficas.

<h3 style="color:#2F4F4F;">1.2 Importar datos</h3>

In [2]:
import pandas as pd

cols = ["Fecha", "Venta Neta", "Venta Facturada", "Pendiente de Facturar", "Acumulado Faltante", "Porcentaje Facutado",
       "Venta AgenteKat Proyecto Odoo"]

# Ruta del archivo utilizando una cadena de raw
ruta_archivo = r'C:\Users\ironr\Downloads\NetoVsFacturado.xlsx'

# Cargar el archivo Excel en un DataFrame
df_VNF= pd.read_excel(ruta_archivo,names=cols)

# Mostrar el DataFrame
print(df_VNF)

                  Fecha       Venta Neta  Venta Facturada  \
0                Aug-21  ₡ 21,908,474.05  ₡ 17,071,830.37
1                Sep-21  ₡ 10,895,504.53   ₡ 8,154,996.17
2   2024-10-21 00:00:00              ₡ -   ₡ 2,847,958.76
3   2024-11-21 00:00:00  ₡ 31,157,975.21  ₡ 26,202,191.38
4                Dec-21  ₡ 38,047,555.35  ₡ 24,071,129.60
5                Jan-22  ₡ 28,774,065.22  ₡ 30,078,053.28
6   2024-02-22 00:00:00  ₡ 10,535,882.22  ₡ 20,667,807.46
7   2024-03-22 00:00:00  ₡ 25,247,972.64  ₡ 24,111,649.30
8                Apr-22  ₡ 23,773,329.16  ₡ 26,535,247.99
9   2024-05-22 00:00:00  ₡ 12,873,392.05  ₡ 17,053,519.25
10  2024-06-22 00:00:00  ₡ 22,311,697.41  ₡ 18,371,640.49
11  2024-07-22 00:00:00  ₡ 18,361,760.69  ₡ 18,150,670.16
12               Aug-22  ₡ 39,517,892.69  ₡ 20,193,718.89
13               Sep-22   ₡ 9,512,728.44   ₡ 9,048,898.70
14  2024-10-22 00:00:00  ₡ 20,497,265.57  ₡ 17,177,178.88
15  2024-11-22 00:00:00  ₡ 27,001,500.78  ₡ 22,503,853.48
16               Dec-22   ₡ 9,145,823.33  ₡ 13,226,050.10
17               Jan-23  ₡ 26,626,882.21  ₡ 24,745,096.69
18  2024-02-23 00:00:00  ₡ 23,402,658.08  ₡ 22,177,287.34
19  2024-03-23 00:00:00  ₡ 15,065,703.70  ₡ 11,184,026.12
20               Apr-23  ₡ 14,410,500.45  ₡ 13,710,199.61
21  2024-05-23 00:00:00   ₡ 5,896,931.95   ₡ 8,612,063.85
22  2024-06-23 00:00:00   ₡ 2,534,115.74   ₡ 3,437,445.78
23  2024-07-23 00:00:00  ₡ 26,420,997.75   ₡ 8,746,140.67
24               Aug-23  ₡ 21,948,276.80  ₡ 20,735,838.36
25               Sep-23  ₡ 28,009,053.49  ₡ 13,577,084.56
26  2024-10-23 00:00:00  ₡ 25,929,892.51  ₡ 19,783,235.00
27  2024-11-23 00:00:00   ₡ 9,012,117.49  ₡ 19,535,933.60
28               Dec-23  ₡ 20,515,452.70  ₡ 20,313,955.09
29               Jan-24  ₡ 31,931,032.22  ₡ 23,872,598.20
30  2024-02-24 00:00:00  ₡ 24,952,318.93  ₡ 22,884,461.00
31  2024-03-24 00:00:00  ₡ 60,811,730.90  ₡ 23,014,050.36
32               Apr-24  ₡ 58,445,761.45  ₡ 49,324,160.16

   Pendiente de Facturar Acumulado Faltante Porcentaje Facutado  \
0         ₡ 4,836,643.68     ₡ 4,836,643.68                0.78
1         ₡ 2,740,508.36     ₡ 7,577,152.04                0.75
2       ₡ (2,847,958.76)     ₡ 4,729,193.28            #¡DIV/0!
3         ₡ 4,955,783.83     ₡ 9,684,977.10                0.84
4        ₡ 13,976,425.75    ₡ 23,661,402.85                0.63
5       ₡ (1,303,988.06)    ₡ 22,357,414.80                1.05
6      ₡ (10,131,925.24)    ₡ 12,225,489.56                1.96
7         ₡ 1,136,323.34    ₡ 13,361,812.90                0.95
8       ₡ (2,761,918.84)    ₡ 10,599,894.06                1.12
9       ₡ (4,180,127.20)     ₡ 6,419,766.86                1.32
10        ₡ 3,940,056.92    ₡ 10,359,823.78                0.82
11          ₡ 211,090.53    ₡ 10,570,914.32                0.99
12       ₡ 19,324,173.80    ₡ 29,895,088.12                0.51
13          ₡ 463,829.75    ₡ 30,358,917.86                0.95
14        ₡ 3,320,086.69    ₡ 33,679,004.55                0.84
15        ₡ 4,497,647.30    ₡ 38,176,651.85                0.83
16      ₡ (4,080,226.78)    ₡ 34,096,425.07                1.45
17        ₡ 1,881,785.52    ₡ 35,978,210.59                0.93
18        ₡ 1,225,370.74    ₡ 37,203,581.33                0.95
19        ₡ 3,881,677.58    ₡ 41,085,258.91                0.74
20          ₡ 700,300.84    ₡ 41,785,559.75                0.95
21      ₡ (2,715,131.90)    ₡ 39,070,427.85                1.46
22        ₡ (903,330.04)    ₡ 38,167,097.81                1.36
23       ₡ 17,674,857.07    ₡ 55,841,954.89                0.33
24        ₡ 1,212,438.44    ₡ 57,054,393.33                0.94
25       ₡ 14,431,968.93    ₡ 71,486,362.26                0.48
26        ₡ 6,146,657.51    ₡ 77,633,019.78                0.76
27     ₡ (10,523,816.11)    ₡ 67,109,203.66                2.17
28          ₡ 201,497.61    ₡ 67,310,701.28                0.99
29        ₡ 8,058,434.02    ₡ 75,369,135.29                0.75
30        ₡ 2,067,857.93    ₡ 77,436,993.23                0.92
31       ₡ 37,797,680.54   ₡ 115,234,673.76                0.38
32        ₡ 9,121,601.29   ₡ 124,356,275.06                0.84

   Venta AgenteKat Proyecto Odoo
0                ₡ 26,059,553.34
1                ₡ 12,959,915.91
2                            ₡ -
3                ₡ 37,061,591.56
4                ₡ 45,256,565.84
5                ₡ 34,225,993.37
6                ₡ 12,532,154.64
7                ₡ 30,031,799.03
8                ₡ 28,277,749.42
9                ₡ 15,312,561.07
10               ₡ 26,539,176.92
11               ₡ 21,840,831.14
12               ₡ 47,005,493.41
13               ₡ 11,315,140.15
14               ₡ 24,380,957.99
15               ₡ 32,117,574.61
16               ₡ 10,878,716.17
17               ₡ 31,671,975.68
18               ₡ 27,836,845.93
19               ₡ 17,920,258.09
20               ₡ 17,140,911.06
21                ₡ 7,014,245.37
22                ₡ 3,014,263.99
23               ₡ 31,427,081.53
24               ₡ 26,106,897.67
25               ₡ 33,316,032.05
26               ₡ 30,842,924.78
27               ₡ 10,719,676.59
28               ₡ 24,402,591.11
29               ₡ 37,981,122.53
30               ₡ 29,680,126.73
31               ₡ 72,333,953.60
32               ₡ 69,519,695.20

In [3]:
df_VNF.shape

(33, 7)

In [4]:
df_VNF.head(10)

,Fecha,Venta Neta,Venta Facturada,Pendiente de Facturar,Acumulado Faltante,Porcentaje Facutado,Venta AgenteKat Proyecto Odoo
0,Aug-21,"₡ 21,908,474.05","₡ 17,071,830.37","₡ 4,836,643.68","₡ 4,836,643.68",0.78,"₡ 26,059,553.34"
1,Sep-21,"₡ 10,895,504.53","₡ 8,154,996.17","₡ 2,740,508.36","₡ 7,577,152.04",0.75,"₡ 12,959,915.91"
2,2024-10-21 00:00:00,₡ -,"₡ 2,847,958.76","₡ (2,847,958.76)","₡ 4,729,193.28",#¡DIV/0!,₡ -
3,2024-11-21 00:00:00,"₡ 31,157,975.21","₡ 26,202,191.38","₡ 4,955,783.83","₡ 9,684,977.10",0.84,"₡ 37,061,591.56"
4,Dec-21,"₡ 38,047,555.35","₡ 24,071,129.60","₡ 13,976,425.75","₡ 23,661,402.85",0.63,"₡ 45,256,565.84"
5,Jan-22,"₡ 28,774,065.22","₡ 30,078,053.28","₡ (1,303,988.06)","₡ 22,357,414.80",1.05,"₡ 34,225,993.37"
6,2024-02-22 00:00:00,"₡ 10,535,882.22","₡ 20,667,807.46","₡ (10,131,925.24)","₡ 12,225,489.56",1.96,"₡ 12,532,154.64"
7,2024-03-22 00:00:00,"₡ 25,247,972.64","₡ 24,111,649.30","₡ 1,136,323.34","₡ 13,361,812.90",0.95,"₡ 30,031,799.03"
8,Apr-22,"₡ 23,773,329.16","₡ 26,535,247.99","₡ (2,761,918.84)","₡ 10,599,894.06",1.12,"₡ 28,277,749.42"
9,2024-05-22 00:00:00,"₡ 12,873,392.05","₡ 17,053,519.25","₡ (4,180,127.20)","₡ 6,419,766.86",1.32,"₡ 15,312,561.07"

In [5]:
df_VNF.describe()

,Fecha,Venta Neta,Venta Facturada,Pendiente de Facturar,Acumulado Faltante,Porcentaje Facutado,Venta AgenteKat Proyecto Odoo
count,33,33,33,33,33,33.00,33
unique,33,33,33,33,33,26.00,33
top,Aug-21,"₡ 21,908,474.05","₡ 17,071,830.37","₡ 4,836,643.68","₡ 4,836,643.68",0.95,"₡ 26,059,553.34"
freq,1,1,1,1,1,4.00,1

In [6]:
df_VNF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Fecha                          33 non-null     object
 1   Venta Neta                     33 non-null     object
 2   Venta Facturada                33 non-null     object
 3   Pendiente de Facturar          33 non-null     object
 4   Acumulado Faltante             33 non-null     object
 5   Porcentaje Facutado            33 non-null     object
 6   Venta AgenteKat Proyecto Odoo  33 non-null     object
dtypes: object(7)
memory usage: 1.9+ KB

In [7]:
temp = df_VNF.groupby(['Fecha']).count()
temp = temp.iloc[:,:1]
temp

                     Venta Neta
Fecha
2024-02-22 00:00:00           1
2024-02-23 00:00:00           1
2024-02-24 00:00:00           1
2024-03-22 00:00:00           1
2024-03-23 00:00:00           1
2024-03-24 00:00:00           1
2024-05-22 00:00:00           1
2024-05-23 00:00:00           1
2024-06-22 00:00:00           1
2024-06-23 00:00:00           1
2024-07-22 00:00:00           1
2024-07-23 00:00:00           1
2024-10-21 00:00:00           1
2024-10-22 00:00:00           1
2024-10-23 00:00:00           1
2024-11-21 00:00:00           1
2024-11-22 00:00:00           1
2024-11-23 00:00:00           1
Apr-22                        1
Apr-23                        1
Apr-24                        1
Aug-21                        1
Aug-22                        1
Aug-23                        1
Dec-21                        1
Dec-22                        1
Dec-23                        1
Jan-22                        1
Jan-23                        1
Jan-24                        1
Sep-21                        1
Sep-22                        1
Sep-23                        1

In [8]:
df_VNF.head(33)

,Fecha,Venta Neta,Venta Facturada,Pendiente de Facturar,Acumulado Faltante,Porcentaje Facutado,Venta AgenteKat Proyecto Odoo
0,Aug-21,"₡ 21,908,474.05","₡ 17,071,830.37","₡ 4,836,643.68","₡ 4,836,643.68",0.78,"₡ 26,059,553.34"
1,Sep-21,"₡ 10,895,504.53","₡ 8,154,996.17","₡ 2,740,508.36","₡ 7,577,152.04",0.75,"₡ 12,959,915.91"
2,2024-10-21 00:00:00,₡ -,"₡ 2,847,958.76","₡ (2,847,958.76)","₡ 4,729,193.28",#¡DIV/0!,₡ -
3,2024-11-21 00:00:00,"₡ 31,157,975.21","₡ 26,202,191.38","₡ 4,955,783.83","₡ 9,684,977.10",0.84,"₡ 37,061,591.56"
4,Dec-21,"₡ 38,047,555.35","₡ 24,071,129.60","₡ 13,976,425.75","₡ 23,661,402.85",0.63,"₡ 45,256,565.84"
5,Jan-22,"₡ 28,774,065.22","₡ 30,078,053.28","₡ (1,303,988.06)","₡ 22,357,414.80",1.05,"₡ 34,225,993.37"
6,2024-02-22 00:00:00,"₡ 10,535,882.22","₡ 20,667,807.46","₡ (10,131,925.24)","₡ 12,225,489.56",1.96,"₡ 12,532,154.64"
7,2024-03-22 00:00:00,"₡ 25,247,972.64","₡ 24,111,649.30","₡ 1,136,323.34","₡ 13,361,812.90",0.95,"₡ 30,031,799.03"
8,Apr-22,"₡ 23,773,329.16","₡ 26,535,247.99","₡ (2,761,918.84)","₡ 10,599,894.06",1.12,"₡ 28,277,749.42"
9,2024-05-22 00:00:00,"₡ 12,873,392.05","₡ 17,053,519.25","₡ (4,180,127.20)","₡ 6,419,766.86",1.32,"₡ 15,312,561.07"
10,2024-06-22 00:00:00,"₡ 22,311,697.41","₡ 18,371,640.49","₡ 3,940,056.92","₡ 10,359,823.78",0.82,"₡ 26,539,176.92"
11,2024-07-22 00:00:00,"₡ 18,361,760.69","₡ 18,150,670.16","₡ 211,090.53","₡ 10,570,914.32",0.99,"₡ 21,840,831.14"
12,Aug-22,"₡ 39,517,892.69","₡ 20,193,718.89","₡ 19,324,173.80","₡ 29,895,088.12",0.51,"₡ 47,005,493.41"
13,Sep-22,"₡ 9,512,728.44","₡ 9,048,898.70","₡ 463,829.75","₡ 30,358,917.86",0.95,"₡ 11,315,140.15"
14,2024-10-22 00:00:00,"₡ 20,497,265.57","₡ 17,177,178.88","₡ 3,320,086.69","₡ 33,679,004.55",0.84,"₡ 24,380,957.99"
15,2024-11-22 00:00:00,"₡ 27,001,500.78","₡ 22,503,853.48","₡ 4,497,647.30","₡ 38,176,651.85",0.83,"₡ 32,117,574.61"
16,Dec-22,"₡ 9,145,823.33","₡ 13,226,050.10","₡ (4,080,226.78)","₡ 34,096,425.07",1.45,"₡ 10,878,716.17"
17,Jan-23,"₡ 26,626,882.21","₡ 24,745,096.69","₡ 1,881,785.52","₡ 35,978,210.59",0.93,"₡ 31,671,975.68"
18,2024-02-23 00:00:00,"₡ 23,402,658.08","₡ 22,177,287.34","₡ 1,225,370.74","₡ 37,203,581.33",0.95,"₡ 27,836,845.93"
19,2024-03-23 00:00:00,"₡ 15,065,703.70","₡ 11,184,026.12","₡ 3,881,677.58","₡ 41,085,258.91",0.74,"₡ 17,920,258.09"
20,Apr-23,"₡ 14,410,500.45","₡ 13,710,199.61","₡ 700,300.84","₡ 41,785,559.75",0.95,"₡ 17,140,911.06"
21,2024-05-23 00:00:00,"₡ 5,896,931.95","₡ 8,612,063.85","₡ (2,715,131.90)","₡ 39,070,427.85",1.46,"₡ 7,014,245.37"
22,2024-06-23 00:00:00,"₡ 2,534,115.74","₡ 3,437,445.78","₡ (903,330.04)","₡ 38,167,097.81",1.36,"₡ 3,014,263.99"
23,2024-07-23 00:00:00,"₡ 26,420,997.75","₡ 8,746,140.67","₡ 17,674,857.07","₡ 55,841,954.89",0.33,"₡ 31,427,081.53"
24,Aug-23,"₡ 21,948,276.80","₡ 20,735,838.36","₡ 1,212,438.44","₡ 57,054,393.33",0.94,"₡ 26,106,897.67"
25,Sep-23,"₡ 28,009,053.49","₡ 13,577,084.56","₡ 14,431,968.93","₡ 71,486,362.26",0.48,"₡ 33,316,032.05"
26,2024-10-23 00:00:00,"₡ 25,929,892.51","₡ 19,783,235.00","₡ 6,146,657.51","₡ 77,633,019.78",0.76,"₡ 30,842,924.78"
27,2024-11-23 00:00:00,"₡ 9,012,117.49","₡ 19,535,933.60","₡ (10,523,816.11)","₡ 67,109,203.66",2.17,"₡ 10,719,676.59"
28,Dec-23,"₡ 20,515,452.70","₡ 20,313,955.09","₡ 201,497.61","₡ 67,310,701.28",0.99,"₡ 24,402,591.11"
29,Jan-24,"₡ 31,931,032.22","₡ 23,872,598.20","₡ 8,058,434.02","₡ 75,369,135.29",0.75,"₡ 37,981,122.53"
30,2024-02-24 00:00:00,"₡ 24,952,318.93","₡ 22,884,461.00","₡ 2,067,857.93","₡ 77,436,993.23",0.92,"₡ 29,680,126.73"
31,2024-03-24 00:00:00,"₡ 60,811,730.90","₡ 23,014,050.36","₡ 37,797,680.54","₡ 115,234,673.76",0.38,"₡ 72,333,953.60"
32,Apr-24,"₡ 58,445,761.45","₡ 49,324,160.16","₡ 9,121,601.29","₡ 124,356,275.06",0.84,"₡ 69,519,695.20"

In [9]:
import pandas as pd

def extract_month_year(date):
    if '-' in date:  # Si ya está en formato "MM-AA"
        return date[:7]  # Extraer "MM-AA" directamente
    else:  # Si es una fecha completa
        return date[6:7] + '-' + date[9:10]  # Extraer "MM-AA" desde una fecha completa

In [10]:
# Crear un DataFrame de ejemplo
data = {'Fecha': ['2024-10-21 00:00:00', '2023-11-15 00:00:00', '2025-09-05 00:00:00', 'Aug-21']}
df = pd.DataFrame(data)

# Aplicar la función a la columna "Fecha"
df['Mes_Año'] = df['Fecha'].apply(extract_month_year)

# Mostrar el DataFrame resultante
print(df)

                 Fecha  Mes_Año
0  2024-10-21 00:00:00  2024-10
1  2023-11-15 00:00:00  2023-11
2  2025-09-05 00:00:00  2025-09
3               Aug-21   Aug-21